RewriteEngine On

# Security: Block direct access to "src", EXCEPT for specific files

# 1. Allow Category API

RewriteCond %{REQUEST_URI} !^/src/pages/category/index\.php$

# 2. Allow Tag API

RewriteCond %{REQUEST_URI} !^/src/pages/tags/index\.php$

# 3. Allow Meta API

RewriteCond %{REQUEST_URI} !^/src/pages/meta/index\.php$

# 4. Allow Web Setting API
RewriteCond %{REQUEST_URI} !^/src/pages/webSetting/index\.php$

# 5. Allow Page Action API
RewriteCond %{REQUEST_URI} !^/src/pages/admin/page-action/index\.php$

# 6. Allow Page Information List API
RewriteCond %{REQUEST_URI} !^/src/pages/admin/page-information-list/index\.php$

# Block everything else in src/

RewriteRule ^src/ - [F,L]

ErrorDocument 404 /error404.php
